<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BiometricsManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BiometricsManager.Properties.Settings>
            <setting name="VoiceKeyHost" serializeAs="String">
                <value>http://vkplatform.speechpro.com/vkapi/rest/</value>
            </setting>
            <setting name="VoiceModelsCount" serializeAs="String">
                <value>3</value>
            </setting>
        </BiometricsManager.Properties.Settings>
    </applicationSettings>
</configuration>