<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BiometricsManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BiometricsManager.Properties.Settings>
            <setting name="VoiceKeyHost" serializeAs="String">
                <value>http://vkplatform.speechpro.com/vkapi/rest/</value>
            </setting>
        </BiometricsManager.Properties.Settings>
    </userSettings>
</configuration>